.hero {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
        /* Degradado diagonal de rojo a negro con cuadrícula superpuesta */
    background: 
        linear-gradient(rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(90deg, rgba(255, 255, 255, 0.05) 1px, transparent 1px),
        linear-gradient(45deg, #0b0b0b 0%, #0b0b0b 80%, #be1718 120%);
    
    /* Definimos el tamaño de los cuadros de la cuadrícula */
    background-size: 65px 65px, 65px 65px, 100% 100%;
    
    
}

.heroContent {
    margin-top: 120px;
    width: 1300px;
    
    display: grid;
    grid-template-columns: 1fr 1fr;

   margin-bottom: 50px;

}

.heroText {
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.heroTextItem {
    display: flex;
    flex-direction: column;
}

.heroTextSpanMin {
    font-size: 15px;
    color: #be1718;
    line-height: 1;
    letter-spacing: 5px;
    font-weight: 400;
    text-transform: uppercase;
}

.heroTextSpanMin::before {
    content: ""; /* Obligatorio para que aparezca */
    display: inline-block;
    width: 20px;         /* Largo del guion */
    height: 2px;         /* Grosor del guion */
    background-color: #be1718; /* El color que quieras */
    vertical-align: middle;
    margin-right: 10px;  /* Espacio entre el guion y el texto */
}

.heroTextSpan {
    font-family: 'Oswald', sans-serif;
    font-size: 7.2rem;
    font-weight: 900;
    color: white;
    line-height: 1;
    letter-spacing: -10px;
    text-transform: uppercase;

}

.heroTextRed {
    color: #be1718;
}

.heroTextSpanDown {

    font-size: 1.2rem;
    font-weight: 300;
    color: #b1b1b1

}

.buttonSpace {
    display: flex;
    gap: 1rem;
}

.button1 {
    display: inline-flex;
    align-items: center;
    padding: 20px 60px;
    background-color: #be1718;
    color: white;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}

.button2 {
    display: inline-flex;
    align-items: center;
    padding: 20px 60px;
    background-color: #0b0b0b;
    color: white;
    border: 1px solid #be1718;
    text-decoration: none;
    border-radius: 5px;
    margin-top: 10px;
}


.heroLogo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
/* background: radial-gradient(circle, rgba(255, 0, 0, 0.5) 0%, transparent 70%); */
}

.logoImage {
    width: 85%;
    height: auto;
}

.socialNetworks {
    display: flex;
    gap: 1rem;
}

.socialIcon {
    color: rgb(255, 255, 255);
    font-size: 2rem;
    
}

