.footer {
    background-color: #000;
    color: #fff;
    width: 100%;
    display: flex;
    justify-content: center;
}

.footerContent {
    max-width: 1300px;
    width: 100%;
    padding: 0 2rem;
    box-sizing: border-box;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    
}

.columns {
    
    display: grid;
    flex: 1;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    
}

.column {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
}

.column h3 {
    color: #be1718;
    font-size: 1.2rem;
    font-weight: 600;
    margin: 0;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
}

.column p {
    color: #b1b1b1;
    margin: 0;
    font-family: 'Inter', sans-serif;
    display: flex;
    align-items: center;
    gap: 1rem;
}

.copyright {
    text-align: center;
}

.logo {
    width: 200px;
    
}

.divider {
    height: 1px;
    background-color: #333;
    margin: 2rem 0;
}

.copyright{
    color: #b1b1b1;
    font-family: 'Inter', sans-serif;
    font-size: 0.7rem;
    margin-top: 1rem;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@media (max-width: 768px) {
    .footerContent {
        width: 100%;
        padding: 0 2rem;
    }
    
    .columns {
        grid-template-columns: 1fr;
        gap: 2rem;
    }
    
    .copyright {
        flex-direction: column;
        gap: 1rem;
        text-align: center;
    }
}



